.main-content {
	padding: 12px 30px;
	transition: background-color 0.5s;
}

.main-content h1 {
	color: white;
	font-size: 4em;
	margin: 6px
}

.pokemon-list {
	display: flex;
	flex-wrap: wrap;
/*	flex-direction: column;
	align-content: flex-start;
	max-height: 2100px;*/
}

/*@media screen and (max-width: 1250px) {
	.pokemon-list {
		max-height: 2500px;
	}
}

@media screen and (max-width: 950px) {
	.pokemon-list {
		max-height: 3750px;
	}
}

@media screen and (max-width: 700px) {
	.pokemon-list {
		max-height: unset;
	}
}*/

.pokemon-list-item {
	position: relative;
	text-align: center;
	font-size: 1.2em;
	height: fit-content;
	width: 250px;
	margin: 6px;
	padding: 4px; 
	box-shadow: 2px 2px 6px 0px #2b2b2b;
	background-color: #e2e2e2;
	border-radius: 10px;
	transition: 0.2s;
}

.pokemon-list-item:hover {
	cursor: pointer;
	background-color: #444!important;
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: inherit;
}

.spinner {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.white-background {
	background-color: white;
	border-radius: 10px;
	margin: 4px;
	padding: 5px;
}

.pokemon-detail {
	display: flex;
	justify-content: center;
}

.pokemon-detail.white-background {
	margin-top: 8px;
	min-height: 100px;
}

.pokemon-type {
	font-size: 0.8em;
	color: white;
	text-shadow: 1px 1px 2px #3b3b3b;
	border-radius: 5px;
	padding: 3px;
}